body {font-family:Arial, Helvetica, sans-serif ;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    
}
header{

    background-color: black;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content:space-between ;
    align-items: center;

}
header .logo h1{
    margin: 0;
}
header nav ul {
    list-style: decimal;
    display: flex;
    margin: 0;
    padding: 0;
}
header nav ul li{
    margin: left 20px; 
}
header nav ul li a{
    color: azure;
    text-decoration: none;
}
.hero {
    background-image: url(img/IMG_20241027_224612.jpg);
    background-size: cover;
    color: blue;
    text-align: center;
    padding: 10px 20px;
}
footer{
    background-color: blueviolet;
    color: black;
    padding: 10px 20px;
    text-align: center;
}